/*!-- Fonts --*/
@font-face {
  font-family: "IranYekan";
  font-weight: normal;
  src:
    url(../fonts/ttf/yekan-regular.ttf) format("ttf"),
    url(../fonts/woff/yekan-regular.woff) format("woff");
}
@font-face {
  font-family: "IranYekan";
  font-weight: bold;
  src:
    url(../fonts/ttf/Yekan.ttf) format("ttf"),
    url(../fonts/woff/Yekan.woff) format("woff");
}

/*!-- Reset Style --*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  direction: rtl;
  font-family: IranYekan;
  font-weight: normal;
}
input,
button,
textarea {
  outline: 0;
  border: 0;
  font-family: inherit;
}
ul,
li {
  color: #000;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/*!-- Header Style Start --*/
header {
  box-shadow: 0.1rem.1rem 0 rgba(0, 0, 0, 0.15);
  width: 100%;
}

/**-- Header Top Start --*/
.header_top {
  width: 100%;
}
.header_top_content {
  width: 140rem;
  margin: 0 auto;
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_top_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.5rem;
}
/*?-- Header Search --*/
.header_top_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60rem;
  height: 4.5rem;
  border: 0.1rem solid #e54e63;
  border-radius: 0.4rem;
  overflow: hidden;
}
.header_search_city {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 25%;
  min-width: fit-content;
  height: 100%;
  padding: 0 1.2rem;
  border-left: 0.1rem solid #ddd;
}
.header_search_city > svg {
  width: 1.6rem;
  color: #a0a0a0;
}
.header_search_city_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: #a0a0a0;
}
.header_search_city_title > img {
  width: 2.4rem;
}
.header_search_city_title > p {
  font-size: 1.6rem;
  color: #646464;
}

.header_search_input {
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
}

.header_search_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e54e63;
  height: 100%;
  min-width: 4.5rem;
  color: white;
}
/*?-- Header Btn --*/
.header_top_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.header_top_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.header_top_login {
  width: 4rem;
  height: 4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: #e54e63;
  border-radius: 0.4rem;
}
.header_top_btn_logo {
  width: 2.4rem;
  color: #a0a0a0;
}
.header_top_btn_text {
  font-size: 1.6rem;
  font-weight: bold;
  color: #646464;
}
/*?-- Header Line --*/
.header_top_line {
  height: 3.5rem;
  background: #ddd;
  width: 0.1rem;
}
/*?-- Header Basket --*/
.header_top_basket {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header_top_basket_img {
  font-size: 2rem;
  color: #4f4f4f;
  transform: rotateY(180deg);
}
.header_top_basket_count {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 100%;
  background: limegreen;
  color: white;
  top: -50%;
  left: -50%;
  position: absolute;
}
/**-- Header Top End --*/
/**-- Header Bottom Start --*/
.header_bottom {
  background: #f5f5f5;
  width: 100%;
  box-shadow: 0.1rem.1rem 0 rgba(0, 0, 0, 0.15);
}
.header_bottom_content {
  width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_bottom_right {
}
.header_bottom_list {
  display: flex;
  font-size: 1.4rem;
  color: #3c3c3c;
}
.header_bottom_list > li {
  padding: 1.2rem 2rem;
  color: #3c3c3c;
  transition: all 0.1s linear;
}
.header_bottom_list > li:hover {
  background: #e6e1e1;
}

.header_bottom_list > li:first-child > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.header_bottom_list > li.active {
  background: #e6e1e1;
}
/**-- Header Bottom End --*/
/*!-- Header Style End --*/
/*!-- Slider Style Start --*/
/**-- Slider Top Start --*/
.slider {
  width: 100%;
  background: #f0f0f0;
  padding: 3rem 0;
}
.slider_content {
  width: 140rem;
  margin: 0 auto;
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}
.slider_content img {
  border-radius: 0.8rem;
}

.slider_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider_top_banner {
  position: relative;
}
.slider_top_banner_btn {
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #a0a0a0;
}
.slider_top_banner_prev {
  left: 2.5rem;
}
.slider_top_banner_next {
  right: 2.5rem;
}
.slider_top_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
/**-- Slider Top End --*/
/**-- Slider Bottom Start --*/
.slider_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/**-- Slider Bottom End --*/
/*!-- Slider Style End --*/
/*!-- Popular & Lightning Style Start --*/
.lightning,
.popular {
  width: 100%;
  padding: 3rem 0;
}
.lightning_content,
.popular_content {
  width: 140rem;
  margin: 0 auto;
}
.lightning_header,
.popular_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}
.lightning_header_title::before,
.popular_header_title::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: red;
  border-radius: 100%;
}
.lightning_header_title,
.popular_header_title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.lightning_header_title::after,
.popular_header_title::after {
  content: "۱۹ آیتم";
  font-size: 1.2rem;
  color: red;
}
.lightning_header_btn,
.popular_header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #646464;
  cursor: pointer;
}
.lightning_items,
.popular_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.lightning_item,
.popular_item {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  overflow: hidden;
  width: 19.2%;
  border: 0.1rem solid #e3e3e3;
  transition: all 0.2s linear;
  cursor: pointer;
}
.lightning_item:hover,
.popular_item:hover {
  transform: translateY(-0.6rem);
}
.lightning_item_img,
.popular_item_img {
  position: relative;
}
.lightning_item_img > img,
.popular_item_img > img {
  width: 100%;
  height: 100%;
}
.lightning_item_img > span,
.popular_item_img > span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: #fff;
  height: 2.4rem;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  font-size: 1.1rem;
  color: #3c3c3c;
  padding: 0 0.6rem;
}
.lightning_item_details,
.popular_item_details {
  padding: 0.4rem 0.8rem;
  display: flex;
  justify-content: space-between;
  border-bottom: dashed.1rem #e3e3e3;
}
.lightning_item_details_right,
.popular_item_details_right {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-left: dashed.1rem #e3e3e3;
}
.lightning_item_info,
.popular_item_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.lightning_item_info > span,
.popular_item_info > span {
  color: #8c8c8c;
  font-size: 1.1rem;
  border-left: 0.1rem solid #8c8c8c;
  padding-left: 0.8rem;
}
.lightning_item_rate,
.popular_item_rate {
  color: #ffc120;
  font-size: 1.2rem;
}
.lightning_item_rate > span,
.popular_item_rate > span {
  color: #3c3c3c;
  font-size: 1.4rem;
  line-height: 1.2rem;
}
.lightning_item_details_left,
.popular_item_details_left {
  padding-right: 0.8rem;
  padding-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  flex-wrap: wrap;
  width: 30%;
  line-height: 2.4rem;
}
.lightning_item_details_left > h3,
.popular_item_details_left > h3 {
  line-height: 3.4rem;
  font-size: 2.4rem;
  color: #e54e63;
}
.lightning_item_btn,
.popular_item_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  gap: 0.4rem;
  padding: 0.8rem 1.2rem;
  color: #459efa;
  width: fit-content;
  font-size: 1.2rem;
}
/*!-- Popular & Lightning Style End --*/
/*!-- Retunr Style Start --*/
.return {
  width: 100%;
  padding: 3rem 0;
  background: #f0f0f0;
}
.return_content {
  width: 140rem;
  margin: 0 auto;
  background-color: #8754af;
  border-radius: 0.4rem;
  height: 50rem;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
}
.return_header {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.return_header_content {
  height: auto;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.return_header_content > h2 {
  color: #fff;
  font-size: 4rem;
  line-height: 4.8rem;
  width: min-content;
}
.return_header_content > div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.return_header_content p {
  color: #fff;
  font-size: 1.8rem;
}
.return_header_descrption {
  gap: 3rem;
  display: flex;
  align-items: center;
}
.return_header_descrption a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 11rem;
  height: 3.2rem;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.return_header_img {
  position: absolute;
  top: -150%;
  left: -10%;
}
.return_header_img > img {
  width: 40rem;
}

.return_body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.return_item {
  border-radius: 0.5rem;
  text-align: center;
  padding-top: 5rem;
  background-color: #fff;
  width: 20rem;
  margin: 0 0.8rem;
  position: relative;
}
.return_item_img {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: -4rem;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  padding: 0.5rem 0.5rem 0;
  border: solid.1rem #dcdcdc;
  margin-bottom: 0.8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.return_item_img > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.return_item_body {
  display: flex;
  flex-direction: column;
}
.return_item_body {
}
.return_item_body h2 {
  color: #3c3c3c;
  font-size: 1.6rem;
}
.return_item_body h5 {
  color: #e54e63;
  font-size: 1.3rem;
}
.return_item_body h5 > span {
  font-size: 2rem;
}

.return_item_footer {
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: 1.2rem;
  width: 100%;
  text-align: center;
  background-color: #faf7fd;
  text-align: center;
  font-size: 1.4rem;
  color: #8754af;
  padding: 0.5rem 0;
}
/*!-- Return Style End --*/
/*!-- Topic Style Start --*/
.topic {
  margin: 2rem 0;
}
.topic_content {
  width: 140rem;
  margin: 0 auto;
  text-align: center;
}
.topic_content h2 {
  color: #3c3c3c;
  font-size: 2.4rem;
}
.topic_content {
  color: #646464;
  font-size: 1.6rem;
}
.topic_content_item {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}
.topic_right,
.topic_left {
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.topic_right > input,
.topic_left > input {
  width: 100%;
  font-size: 1.6rem;
  border: 0.1rem solid #aeb8d566;
  background-color: #fff;
  min-height: 4rem;
  border-radius: 1.2rem;
  padding: 1.2rem 1.2rem;
}
.topic_content_item > textarea {
  width: 81.2rem;
  font-size: 1.6rem;
  border: 0.1rem solid #aeb8d566;
  background-color: #fff;
  border-radius: 1.2rem;
  padding: 1.2rem 1.2rem;
  min-height: 4rem;
}
.topic_content_item_btn {
  margin-top: 2rem;
  width: 81.2rem;
  font-size: 1.6rem;
  background: #e54e63;
  color: #fff;
  border-radius: 1.2rem;
  padding: 1rem 0;
  padding: 1.2rem 1.2rem;
  text-align: center;
}
/*!-- Topic Style End --*/
/*!-- Footer Style Start --*/
.footer {
  margin-top: 4rem;
  border-top: 2rem;
  height: 40rem;
}
.footer_slicer {
  height: 4rem;
  width: 100%;
  background: #eee;
}
.footer_content {
  width: 140rem;
  margin: 3rem auto;
}
.footer_awards {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 0.1rem solid #eee;
}
.footer_awards_right {
  display: flex;
  align-items: start;
  gap: 2.5rem;
}
.footer_awards_details {
  display: flex;
  flex-direction: column;
}
.footer_awards_right h4 {
  font-size: 1.8rem;
  color: #3c3c3c;
  text-align: right;
}
.footer_awards_description {
  font-size: 1.2rem;
  color: #8c8c8c;
  text-align: right;
}
.footer_awards_email {
  display: flex;
  align-items: center;
  border: 0.1rem solid #dee2e6;
  border-radius: 0.5rem;
  height: 4rem;
}
.footer_awards_email_location {
  min-width: 9rem;
  padding: 0 1rem;
  color: #212529;
  height: 100%;
  font-size: 1.4rem;
  color: #646464;
  border-left: solid.1rem #dee2e6;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_awards_email > input {
  width: 100%;
  height: 100%;
  min-width: 25rem;
  font-size: 1.4rem;
  text-align: right;
  padding-left: 3rem;
  padding-right: 0.8rem;
  color: #3c3c3c;
}
.footer_awards_email > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  min-width: 8.5rem;
  padding: 0 2rem;
  text-align: center;
  color: #fff;
  background-color: #459efa;
  cursor: pointer;
}
.footer_awards_left {
}
.footer_awards_icon {
  width: 40rem;
  height: 5rem;
  background-image: url("/public/img/sprite.webp");
  background-repeat: no-repeat;
  background-position: 1.4rem -38.4rem;
}
.footer_app {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 0.1rem solid #eee;
}
.footer_app_right {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.footer_app_right > ul > li {
  font-size: 1.4rem;
  color: #3c3c3c;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.footer_app_right > ul > li:first-child {
  font-size: 1.6rem;
  font-weight: bold;
}
.footer_app_left {
  display: flex;
  /* align-items: center; */
  gap: 4rem;
}
.footer_app_left > h4 {
  margin-bottom: 1.5rem;
}
.footer_app_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer_app_info > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer_app_info > div > a {
  border: 0.1rem solid #eee;
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}
.footer_app_info > div > a:first-child > svg {
  color: #adc24a;
}
.footer_app_image > img {
  width: 13.5rem;
}

.footer_social {
  direction: ltr;
  display: flex;
  /* justify-content: flex-end; */
  padding: 2rem 0;
  border-bottom: 0.1rem solid #eee;
  gap: 3rem;
}
.footer_social_icon {
  display: flex;
  gap: 1rem;
}
.footer_social_icon > a {
  width: 4rem;
  height: 4rem;
  color: #a0a0a0;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: solid.1rem #dcdcdc;
  cursor: pointer;
}
.footer_social_number {
  padding: 0 3rem;
  border-right: solid.1rem #dee2e6;
  border-left: solid.1rem #dee2e6;
  font-size: 1.6rem;
  color: #3c3c3c;
  font-weight: bold;
  cursor: pointer;
}
.footer_social_email {
  font-size: 1.6rem;
  color: #3c3c3c;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_about {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_about_right {
  width: 62.5%;
}
.footer_about_right > h2 {
  font-size: 1.6rem;
  color: #3c3c3c;
  margin-bottom: 0.5rem;
}
.footer_about_right > p {
  font-size: 1.4rem;
  color: #8c8c8c;
  text-align: justify;
}

.footer_about_left {
}
.footer_about_left > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.footer_about_left > div > img {
  cursor: pointer;
  width: 10.6rem;
  height: 12rem;
  object-fit: contain;
  object-position: center;
  border: solid.1rem #dcdcdc;
  border-radius: 0.5rem;
  padding: 1rem;
}
.footer_copyright {
  background-color: #3c3c3c;
  margin-top: 1rem;
  padding: 0.8rem;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
}

/*!-- Footer Style End --*/
