/*!-- Fonts --*/
@font-face {
  font-family: "IranYekan";
  font-weight: normal;
  src: url(../fonts/ttf/yekan-regular.ttf) format("ttf"),
    url(../fonts/woff/yekan-regular.woff) format("woff");
}
@font-face {
  font-family: "IranYekan";
  font-weight: bold;
  src: url(../fonts/ttf/Yekan.ttf) format("ttf"),
    url(../fonts/woff/Yekan.woff) format("woff");
}

/*!-- Reset Style --*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  font-family: IranYekan;
  font-weight: normal;
}
input,
button,
textarea {
  outline: 0;
  border: 0;
  font-family: inherit;
}
ul,
li {
  color: #000;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/*!-- Header Style Start --*/
header {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
}

/**-- Header Top Start --*/
.header_top {
  width: 100%;
}
.header_top_content {
  width: 1400px;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_top_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
/*?-- Header Search --*/
.header_top_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 45px;
  border: 1px solid #e54e63;
  border-radius: 4px;
  overflow: hidden;
}
.header_search_city {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 25%;
  height: 100%;
  padding: 0 12px;
  border-left: 1px solid #ddd;
}
.header_search_city > svg {
  width: 16px;
  color: #a0a0a0;
}
.header_search_city_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #a0a0a0;
}
.header_search_city_title > img {
  width: 24px;
}
.header_search_city_title > p {
  font-size: 16px;
  color: #646464;
}

.header_search_input {
  height: 100%;
  width: 100%;
  padding: 0 12px;
}

.header_search_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e54e63;
  height: 100%;
  min-width: 45px;
  color: white;
}
/*?-- Header Btn --*/
.header_top_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.header_top_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.header_top_btn_logo {
  width: 24px;
  color: #a0a0a0;
}
.header_top_btn_text {
  font-size: 16px;
  font-weight: bold;
  color: #646464;
}
/*?-- Header Line --*/
.header_top_line {
  height: 35px;
  background: #ddd;
  width: 1px;
}
/*?-- Header Basket --*/
.header_top_basket {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header_top_basket_img {
  font-size: 20px;
  color: #4f4f4f;
  transform: rotateY(180deg);
}
.header_top_basket_count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 100%;
  background: limegreen;
  color: white;
  top: -50%;
  left: -50%;
  position: absolute;
}
/**-- Header Top End --*/
/**-- Header Bottom Start --*/
.header_bottom {
  background: #f5f5f5;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}
.header_bottom_content {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_bottom_right {
}
.header_bottom_list {
  display: flex;
  font-size: 14px;
  color: #3c3c3c;
}
.header_bottom_list > li {
  padding: 12px 20px;
  color: #3c3c3c;
  transition: all 0.1s linear;
}
.header_bottom_list > li:hover {
  background: #e6e1e1;
}

.header_bottom_list > li:first-child > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.header_bottom_list > li.active {
  background: #e6e1e1;
}
/**-- Header Bottom End --*/
/*!-- Header Style End --*/
/*!-- Slider Style Start --*/
/**-- Slider Top Start --*/
.slider {
  width: 100%;
  background: #f0f0f0;
  padding: 30px 0;
}
.slider_content {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.slider_content img {
  border-radius: 8px;
}

.slider_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider_top_banner {
  position: relative;
}
.slider_top_banner_btn {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #a0a0a0;
}
.slider_top_banner_prev {
  left: 25px;
}
.slider_top_banner_next {
  right: 25px;
}
.slider_top_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
/**-- Slider Top End --*/
/**-- Slider Bottom Start --*/
.slider_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/**-- Slider Bottom End --*/
/*!-- Slider Style End --*/
/*!-- Popular & Lightning Style Start --*/
.lightning,
.popular {
  width: 100%;
  padding: 30px 0;
}
.lightning_content,
.popular_content {
  width: 1400px;
  margin: 0 auto;
}
.lightning_header,
.popular_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.lightning_header_title::before,
.popular_header_title::before {
  content: "";
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 100%;
}
.lightning_header_title,
.popular_header_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lightning_header_title::after,
.popular_header_title::after {
  content: "۱۹ آیتم";
  font-size: 12px;
  color: red;
}
.lightning_header_btn,
.popular_header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #646464;
  cursor: pointer;
}
.lightning_items,
.popular_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.lightning_item,
.popular_item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: 19.2%;
  border: 1px solid #e3e3e3;
  transition: all 0.2s linear;
  cursor: pointer;
}
.lightning_item:hover,
.popular_item:hover {
  transform: translateY(-6px);
}
.lightning_item_img,
.popular_item_img {
  position: relative;
}
.lightning_item_img > img,
.popular_item_img > img {
  width: 100%;
  height: 100%;
}
.lightning_item_img > span,
.popular_item_img > span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  height: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 11px;
  color: #3c3c3c;
  padding: 0 6px;
}
.lightning_item_details,
.popular_item_details {
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: dashed 1px #e3e3e3;
}
.lightning_item_details_right,
.popular_item_details_right {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-left: dashed 1px #e3e3e3;
}
.lightning_item_info,
.popular_item_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.lightning_item_info > span,
.popular_item_info > span {
  color: #8c8c8c;
  font-size: 11px;
  border-left: 1px solid #8c8c8c;
  padding-left: 8px;
}
.lightning_item_rate,
.popular_item_rate {
  color: #ffc120;
  font-size: 12px;
}
.lightning_item_rate > span,
.popular_item_rate > span {
  color: #3c3c3c;
  font-size: 14px;
  line-height: 12px;
}
.lightning_item_details_left,
.popular_item_details_left {
  padding-right: 8px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
  width: 30%;
  line-height: 24px;
}
.lightning_item_details_left > h3,
.popular_item_details_left > h3 {
  line-height: 34px;
  font-size: 24px;
  color: #e54e63;
}
.lightning_item_btn,
.popular_item_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  gap: 4px;
  padding: 8px 12px;
  color: #459efa;
  width: fit-content;
  font-size: 12px;
}
/*!-- Popular & Lightning Style End --*/
/*!-- Retunr Style Start --*/
.return {
  width: 100%;
  padding: 30px 0;
  background: #f0f0f0;
}
.return_content {
  width: 1400px;
  margin: 0 auto;
  background-color: #8754af;
  border-radius: 4px;
  height: 500px;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.return_header {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.return_header_content {
  height: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}
.return_header_content > h2 {
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  width: min-content;
}
.return_header_content > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.return_header_content p {
  color: #fff;
  font-size: 18px;
}
.return_header_descrption {
  gap: 30px;
  display: flex;
  align-items: center;
}
.return_header_descrption a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 110px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
}
.return_header_img {
  position: absolute;
  top: -150%;
  left: -10%;
}
.return_header_img > img {
  width: 400px;
}

.return_body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.return_item {
  border-radius: 5px;
  text-align: center;
  padding-top: 50px;
  background-color: #fff;
  width: 200px;
  margin: 0 8px;
  position: relative;
}
.return_item_img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  padding: 5px 5px 0;
  border: solid 1px #dcdcdc;
  margin-bottom: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.return_item_img > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.return_item_body {
  display: flex;
  flex-direction: column;
}
.return_item_body {
}
.return_item_body h2 {
  color: #3c3c3c;
  font-size: 16px;
}
.return_item_body h5 {
  color: #e54e63;
  font-size: 13px;
}
.return_item_body h5 > span {
  font-size: 20px;
}

.return_item_footer {
  border-radius: 0 0 5px 5px;
  margin-top: 12px;
  width: 100%;
  text-align: center;
  background-color: #faf7fd;
  text-align: center;
  font-size: 14px;
  color: #8754af;
  padding: 5px 0;
}
/*!-- Return Style End --*/
/*!-- Topic Style Start --*/
.topic {
  margin: 20px 0;
}
.topic_content {
  width: 1400px;
  margin: 0 auto;
  text-align: center;
}
.topic_content h2 {
  color: #3c3c3c;
  font-size: 24px;
}
.topic_content {
  color: #646464;
  font-size: 16px;
}
.topic_content_item {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.topic_right,
.topic_left {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.topic_right > input,
.topic_left > input {
  width: 100%;
  font-size: 16px;
  border: 1px solid #aeb8d566;
  background-color: #fff;
  min-height: 40px;
  border-radius: 12px;
  padding: 12px 12px;
}
.topic_content_item > textarea {
  width: 812px;
  font-size: 16px;
  border: 1px solid #aeb8d566;
  background-color: #fff;
  border-radius: 12px;
  padding: 12px 12px;
  min-height: 40px;
}
.topic_content_item_btn {
  margin-top: 20px;
  width: 812px;
  font-size: 16px;
  background: #e54e63;
  color: #fff;
  border-radius: 12px;
  padding: 10px 0;
  padding: 12px 12px;
  text-align: center;
}
/*!-- Topic Style End --*/
/*!-- Footer Style Start --*/
.footer {
  margin-top: 40px;
  border-top: 20px;
  height: 400px;
}
.footer_slicer {
  height: 40px;
  width: 100%;
  background: #eee;
}
.footer_content {
  width: 1400px;
  margin: 30px auto;
}
.footer_awards {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.footer_awards_right {
  display: flex;
  align-items: start;
  gap: 25px;
}
.footer_awards_details {
  display: flex;
  flex-direction: column;
}
.footer_awards_right h4 {
  font-size: 18px;
  color: #3c3c3c;
  text-align: right;
}
.footer_awards_description {
  font-size: 12px;
  color: #8c8c8c;
  text-align: right;
}
.footer_awards_email {
  display: flex;
  align-items: center;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  height: 40px;
}
.footer_awards_email_location {
  min-width: 90px;
  padding: 0 10px;
  color: #212529;
  height: 100%;
  font-size: 14px;
  color: #646464;
  border-left: solid 1px #dee2e6;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_awards_email > input {
  width: 100%;
  height: 100%;
  min-width: 250px;
  font-size: 14px;
  text-align: right;
  padding-left: 30px;
  padding-right: 8px;
  color: #3c3c3c;
}
.footer_awards_email > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px 0 0 5px;
  min-width: 85px;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  background-color: #459efa;
  cursor: pointer;
}
.footer_awards_left {
}
.footer_awards_icon {
  width: 400px;
  height: 50px;
  background-image: url("/public/img/sprite.webp");
  background-repeat: no-repeat;
  background-position: 14px -384px;
}
.footer_app {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.footer_app_right {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.footer_app_right > ul > li {
  font-size: 14px;
  color: #3c3c3c;
  margin-bottom: 8px;
  cursor: pointer;
}
.footer_app_right > ul > li:first-child {
  font-size: 16px;
  font-weight: bold;
}
.footer_app_left {
  display: flex;
  /* align-items: center; */
  gap: 40px;
}
.footer_app_left > h4 {
  margin-bottom: 15px;
}
.footer_app_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_app_info > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_app_info > div > a {
  border: 1px solid #eee;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 5px;
}
.footer_app_info > div > a:first-child > svg {
  color: #adc24a;
}
.footer_app_image > img {
  width: 135px;
}

.footer_social {
  direction: ltr;
  display: flex;
  /* justify-content: flex-end; */
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  gap: 30px;
}
.footer_social_icon {
  display: flex;
  gap: 10px;
}
.footer_social_icon > a {
  width: 40px;
  height: 40px;
  color: #a0a0a0;
  font-size: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: solid 1px #dcdcdc;
  cursor: pointer;
}
.footer_social_number {
  padding: 0 30px;
  border-right: solid 1px #dee2e6;
  border-left: solid 1px #dee2e6;
  font-size: 16px;
  color: #3c3c3c;
  font-weight: bold;
  cursor: pointer;
}
.footer_social_email {
  font-size: 16px;
  color: #3c3c3c;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_about {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_about_right {
  width: 62.5%;
}
.footer_about_right > h2 {
  font-size: 16px;
  color: #3c3c3c;
  margin-bottom: 5px;
}
.footer_about_right > p {
  font-size: 14px;
  color: #8c8c8c;
  text-align: justify;
}

.footer_about_left {
}
.footer_about_left > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer_about_left > div > img {
  cursor: pointer;
  width: 106px;
  height: 120px;
  object-fit: contain;
  object-position: center;
  border: solid 1px #dcdcdc;
  border-radius: 5px;
  padding: 10px;
}
.footer_copyright {
  background-color: #3c3c3c;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

/*!-- Footer Style End --*/
