/*!-- Fonts --*/
@font-face {
  font-family: "IranYekan";
  font-weight: normal;
  src: url(../fonts/ttf/yekan-regular.ttf) format("ttf"),
    url(../fonts/woff/yekan-regular.woff) format("woff");
}
@font-face {
  font-family: "IranYekan";
  font-weight: bold;
  src: url(../fonts/ttf/Yekan.ttf) format("ttf"),
    url(../fonts/woff/Yekan.woff) format("woff");
}

/*!-- Reset Style --*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  font-family: IranYekan;
  font-weight: normal;
}
input {
  outline: 0;
  border: 0;
}
ul,
li {
  color: #000;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/*!-- Header Style Start --*/
header {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
}

/**-- Header Top Start --*/
.header_top {
  width: 100%;
}
.header_top_content {
  width: 1400px;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_top_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
/*?-- Header Search --*/
.header_top_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 45px;
  border: 1px solid #e54e63;
  border-radius: 4px;
  overflow: hidden;
}
.header_search_city {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 25%;
  height: 100%;
  padding: 0 12px;
  border-left: 1px solid #ddd;
}
.header_search_city > svg {
  width: 16px;
  color: #a0a0a0;
}
.header_search_city_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #a0a0a0;
}
.header_search_city_title > img {
  width: 24px;
}
.header_search_city_title > p {
  font-size: 16px;
  color: #646464;
}

.header_search_input {
  height: 100%;
  width: 100%;
  padding: 0 12px;
}

.header_search_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e54e63;
  height: 100%;
  min-width: 45px;
  color: white;
}
/*?-- Header Btn --*/
.header_top_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.header_top_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.header_top_btn_logo {
  width: 24px;
  color: #a0a0a0;
}
.header_top_btn_text {
  font-size: 16px;
  font-weight: bold;
  color: #646464;
}
/*?-- Header Line --*/
.header_top_line {
  height: 35px;
  background: #ddd;
  width: 1px;
}
/*?-- Header Basket --*/
.header_top_basket {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header_top_basket_img {
  font-size: 20px;
  color: #4f4f4f;
  transform: rotateY(180deg);
}
.header_top_basket_count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 100%;
  background: limegreen;
  color: white;
  top: -50%;
  left: -50%;
  position: absolute;
}
/**-- Header Top End --*/
/**-- Header Bottom Start --*/
.header_bottom {
  background: #f5f5f5;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}
.header_bottom_content {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_bottom_right {
}
.header_bottom_list {
  display: flex;
  font-size: 14px;
  color: #3c3c3c;
}
.header_bottom_list > li {
  padding: 12px 20px;
  color: #3c3c3c;
}
.header_bottom_list > li:first-child > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.header_bottom_list > li.active {
  background: #e6e1e1;
}
/**-- Header Bottom End --*/
/*!-- Header Style End --*/
/*!-- Slider Style Start --*/
/**-- Slider Top Start --*/

.slider {
  width: 100%;
  background: #f0f0f0;
  padding: 30px 0;
}
.slider_content {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.slider_content img {
  border-radius: 8px;
}

.slider_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider_top_banner {
  position: relative;
}
.slider_top_banner_btn {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #a0a0a0;
}
.slider_top_banner_prev {
  left: 25px;
}
.slider_top_banner_next {
  right: 25px;
}
.slider_top_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
/**-- Slider Top End --*/
/**-- Slider Bottom Start --*/
.slider_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/**-- Slider Bottom End --*/
/*!-- Slider Style End --*/

.lightning,
.popular {
  width: 100%;
  padding: 30px 0;
}
.lightning_content,
.popular_content {
  width: 1400px;
  margin: 0 auto;
}
.lightning_header,
.popular_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.lightning_header_title,
.popular_header_title {
}
.lightning_header_btn,
.popular_header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #646464;
  cursor: pointer;
}
.lightning_items,
.popular_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.lightning_item,
.popular_item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: 19.2%;
  border: 1px solid #e3e3e3;
}
.lightning_item_img,
.popular_item_img {
  position: relative;
}
.lightning_item_img > img,
.popular_item_img > img {
  width: 100%;
  height: 100%;
}
.lightning_item_img > span,
.popular_item_img > span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  height: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 11px;
  color: #3c3c3c;
  padding: 0 6px;
}

.lightning_item_details,
.popular_item_details {
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: dashed 1px #e3e3e3;
}
.lightning_item_details_right,
.popular_item_details_right {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-left: dashed 1px #e3e3e3;
}
.lightning_item_info,
.popular_item_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.lightning_item_info > span,
.popular_item_info > span {
  color: #8c8c8c;
  font-size: 11px;
  border-left: 1px solid #8c8c8c;
  padding-left: 8px;
}
.lightning_item_rate,
.popular_item_rate {
  color: #ffc120;
  font-size: 12px;
}
.lightning_item_rate > span,
.popular_item_rate > span {
  color: #3c3c3c;
  font-size: 14px;
  line-height: 12px;
}

.lightning_item_details_left,
.popular_item_details_left {
  padding-right: 8px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
  width: 30%;
  line-height: 24px;
}
.lightning_item_details_left > h3,
.popular_item_details_left > h3 {
  line-height: 34px;
  font-size: 24px;
  color: #e54e63;
}
.lightning_item_btn,
.popular_item_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  gap: 4px;
  padding: 8px 12px;
  color: #459efa;
  width: fit-content;
  font-size: 12px;
}
